/* Container do Video -> Pai */
.bannerContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* video */
.bannerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.25rem);
  transform: scale(1.05);
  transition: filter 0.3s ease-in-out;
}

/* Container do texto do banner -> Pai */
.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 90%;
}

/* Titulo do banner */
.bannerContent h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

/* Botão do banner */
.bannerContent button {
  padding: 1.25rem 2.5rem;
  font-size: 1.5625rem;
  background-color: #006eff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bannerContent button:hover {
  background-color: #0056b3;
  transition: background 0.2s ease;
}

@media (max-width: 768px) {
  .bannerContent {
    width: 70vh;
  }

  .bannerContent h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .bannerContent button {
    padding: 0.9375rem 1.875rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .bannerContent h1 {
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;
  }

  .bannerContent button {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
  }
}

/* Section02: Atraido usuario */
/* Container -> Pai  */
.sectionAttractContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 80px 20px;
  justify-content: space-around;
  background: linear-gradient(to bottom, #eef9fa, #80eaa0);
}

/* Container do texto e Imgaem -> Pai */
.sectionAttractText {
  width: 50%;
  text-align: justify;
}
/* Texto */
.sectionAttractText h1 {
  font-size: 45px;
  margin-bottom: 40px;
}
.sectionAttractText p {
  line-height: 2;
  font-size: 20px;
  color: #333;
}
/* Imagem  */
.sectionAttractImg img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .sectionAttractContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sectionAttractText h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .sectionAttractText p {
    font-size: 16px;
    line-height: 1.6;
  }

  .sectionAttractText {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .sectionAttractContainer {
    flex-direction: column-reverse;
    padding: 40px 15px;
  }

  .sectionAttractText {
    width: 90%;
    padding-top: 30px;
    text-align: center;
  }

  .sectionAttractText h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .sectionAttractText p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
  }

  .sectionAttractImg {
    margin-top: 15px;
  }
}
