/* Container do Video -> Pai */
.bannerContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* video */
.bannerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.25rem);
  transform: scale(1.05);
  transition: filter 0.3s ease-in-out;
}

/* Container do texto do banner -> Pai */
.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 90%;
}

/* Titulo do banner */
.bannerContent h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

/* Botão do banner */
.bannerContent button {
  padding: 1.25rem 2.5rem;
  font-size: 1.5625rem;
  background-color: #006eff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bannerContent button:hover {
  background-color: #0056b3;
  transition: background 0.2s ease;
}

@media (max-width: 768px) {
  .bannerContent {
    width: 70vh;
  }

  .bannerContent h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .bannerContent button {
    padding: 0.9375rem 1.875rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .bannerContent h1 {
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;
  }

  .bannerContent button {
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
  }
}

/* Section02: Atraido usuario */
/* Container -> Pai  */
.sectionAttractContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5rem 1.25rem;
  justify-content: space-around;
  background: linear-gradient(to bottom, #eef9fa, #80deea);
  height: 53.125rem;
}

/* Container do texto e Imgaem -> Pai */
.sectionAttractText {
  width: 50%;
  text-align: justify;
}
/* Texto */
.sectionAttractText h1 {
  font-size: 2.8125rem;
  margin-bottom: 2.5rem;
}
.sectionAttractText p {
  line-height: 2;
  font-size: 1.25rem;
  color: #333;
}
/* Imagem  */
.sectionAttractImg img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .sectionAttractContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sectionAttractText h1 {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }

  .sectionAttractText p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .sectionAttractText {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .sectionAttractContainer {
    flex-direction: column-reverse;
    padding: 2.5rem 0.9375rem;
  }

  .sectionAttractText {
    width: 90%;
    padding-top: 1.875rem;
    text-align: center;
  }

  .sectionAttractText h1 {
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
  }

  .sectionAttractText p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
  }

  .sectionAttractImg {
    margin-top: 0.9375rem;
  }
}

/* section03  -> Recursos*/
/* Container -> Pai */
.sectionCharacterContainer {
  background: linear-gradient(to bottom, #80deea, #ffffff);
  height: auto;
  padding: 1.25rem;
}

/* Titulo do Container*/
.sectionCharacterContainer h1 {
  text-align: center;
  font-size: 2.8125rem;
  padding: 6.25rem 0 1.25rem 0;
}

/* Box -> Pai */
.sectionCharacterBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.875rem;
  padding: 5rem;
  flex-wrap: wrap;
  align-items: center;
}

/* Box com conteudo  */
.chareacterBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 28.125rem;
  width: 100%;
  max-width: 31.25rem;
  margin: 1.25rem;
}
.chareacterBox:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0rem 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
}

/* Icone */
.iconBox {
  background-color: #3f92ff;
  border-radius: 50%;
  padding: 0.9375rem;
  margin-top: 1.25rem;
  color: #ffffff;
  font-size: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Titilo da box  */
.textBox h1 {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  font-size: 1.5625rem;
  text-align: center;
}

/* Texto da Box  */
.textBox p {
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: center;
  padding: 0 1.25rem;
}

@media (max-width: 768px) {
  .sectionCharacterContainer h1 {
    font-size: 2.1875rem;
    padding: 3.75rem 0 1.25rem 0;
  }

  .sectionCharacterBox {
    flex-direction: column;
    gap: 1.25rem;
    padding: 2.5rem 0.625rem;
  }

  .chareacterBox {
    width: 100%;
    height: 31.25rem;
    margin: 0.625rem 0;
  }
}

@media (max-width: 480px) {
  .sectionCharacterContainer h1 {
    font-size: 1.75rem;
    padding: 2.5rem 0 1.25rem 0;
  }

  .iconBox {
    font-size: 2.8125rem;
  }

  .textBox h1 {
    font-size: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
  }

  .textBox p {
    font-size: 1rem;
    padding: 0 0.625rem;
  }

  .sectionCharacterBox {
    padding: 1.25rem 0;
  }

  .chareacterBox {
    width: 100%;
    height: 25rem;
    margin: 0.625rem 0;
  }
}
