.homePacienteMain {
  background: linear-gradient(180deg, #dceaf8 90%, rgba(255, 255, 255, 1) 100%);
  padding: 60px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  color: #333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.label {
  font-weight: 600;
  color: #555;
}

.inputField,
.textArea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.inputField:focus,
.textArea:focus,
.select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #0056b3;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.listItem {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listItem:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.lembreteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.lembreteTitulo {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.lembreteContent {
  font-size: 15px;
  color: #4a4a4a;
  line-height: 1.6;
}

.deleteButton {
  background-color: #fb1e05;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton p {
  font-size: 18px;
}

.deleteButtonIcon {
  font-size: 20px;
}

.deleteButton:hover {
  background-color: #c0392b;
}

.googleCalendarLink {
  margin-top: 15px;
  background-color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.googleCalendarLink a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.googleCalendarLink:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.googleCalendarIcon {
  font-size: 25px;
}
