.cadastroPacienteMain {
  background: linear-gradient(180deg, #dceaf8 90%, rgba(255, 255, 255, 1) 100%);
  padding-top: 5.625rem;
}

.cadastroPacienteForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 56.25rem;
  margin: 0 auto 5.625rem auto;
  padding: 3rem;
  background-color: rgb(214, 214, 214);
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
}

.cadastroPacienteForm label {
  display: block;
  margin-top: 0.625rem;
  font-weight: bold;
  color: #333;
}

.cadastroPacienteForm input,
.cadastroPacienteForm select,
.cadastroPacienteForm textarea {
  margin-top: 0.3125rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.cadastroPacienteForm input:focus,
.cadastroPacienteForm select:focus,
.cadastroPacienteForm textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
}

.cadastroPacienteForm textarea {
  resize: vertical;
  min-height: 6.25rem;
}

.cadastroPacienteForm h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.cadastroPacienteForm .section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.0625rem solid #000;
}

/* Mensagem de erro */
.cadastroPacienteForm .error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3125rem;
}

.cadastroPacienteForm .label-required:after {
  content: " *";
  color: red;
}

/* Botão de Cadastro */
.cadastroPacienteForm button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

.cadastroPacienteForm button:hover {
  background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .cadastroPacienteForm {
    max-width: 43.75rem;
    padding: 1.5rem;
    margin: 0 auto 3.75rem auto;
  }

  .cadastroPacienteForm h2 {
    font-size: 1.25rem;
  }

  .cadastroPacienteForm button {
    width: 90%;
    font-size: 1rem;
  }

  .cadastroPacienteForm .section {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .cadastroPacienteForm {
    padding: 1rem;
  }

  .cadastroPacienteForm button {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
