.mainContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #dceaf8 90%, rgba(255, 255, 255, 1) 100%);
  height: 100vh;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.loginPacienteForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 300px;
  height: 100vh;
  background: linear-gradient(180deg, #e0e0e0 90%, rgba(255, 255, 255, 1) 100%);
}

.loginPacienteForm h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.loginPacienteForm label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.loginPacienteForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.loginPacienteForm input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginPacienteForm button {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.loginPacienteForm button:hover {
  background-color: #0056b3;
}

.loginPacienteForm button:focus {
  outline: 2px solid #0056b3;
  outline-offset: 2px;
}

.loginPacienteForm .registerLink {
  text-align: center;
  margin-top: 20px;
}

.loginPacienteForm .registerLink a {
  color: #007bff;
  text-decoration: none;
}

.loginPacienteForm .registerLink a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.error[aria-live="polite"] {
  margin-top: 5px;
}

.loginPacienteForm button {
  background-color: #0056b3;
}

.loginPacienteForm button:hover {
  background-color: #004080;
}

@media (max-width: 1024px) {
  .imageContainer img {
    max-width: 80%;
    height: auto;
    object-fit: contain;
  }

  .loginPacienteForm {
    padding: 30px;
  }

  .loginPacienteForm button {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    height: 60vh;
    background: #dceaf8;
  }

  .imageContainer img {
    max-width: 70%;
  }

  .loginPacienteForm {
    padding: 180px;
    height: 80vh;
  }

  .loginPacienteForm input,
  .loginPacienteForm button {
    width: 100%;
  }

  .loginPacienteForm button {
    font-size: 1rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    height: 40vh;
    background: #dceaf8;
  }

  .imageContainer img {
    max-width: 80%;
  }

  .loginPacienteForm {
    padding: 40px;
    height: 80vh;
  }

  .loginPacienteForm input,
  .loginPacienteForm button {
    width: 100%;
  }

  .loginPacienteForm button {
    font-size: 1rem;
    padding: 10px;
  }
}
