.mainContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #dceaf8 90%, rgba(255, 255, 255, 1) 100%);
  height: 100vh;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.loginPacienteForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5625rem;
  padding: 18.75rem;
  height: 100vh;
  background: linear-gradient(180deg, #e0e0e0 90%, rgba(255, 255, 255, 1) 100%);
}

.loginPacienteForm h2 {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.loginPacienteForm label {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.loginPacienteForm input {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ced4da;
  border-radius: 0.3125rem;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.loginPacienteForm input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0.3125rem rgba(0, 123, 255, 0.5);
}

.loginPacienteForm button {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.loginPacienteForm button:hover {
  background-color: #0056b3;
}

.loginPacienteForm button:focus {
  outline: 0.125rem solid #0056b3;
  outline-offset: 0.125rem;
}

.loginPacienteForm .registerLink {
  text-align: center;
  margin-top: 1.25rem;
}

.loginPacienteForm .registerLink a {
  color: #007bff;
  text-decoration: none;
}

.loginPacienteForm .registerLink a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.error[aria-live="polite"] {
  margin-top: 0.3125rem;
}

.loginPacienteForm button {
  background-color: #0056b3;
}

.loginPacienteForm button:hover {
  background-color: #004080;
}

@media (max-width: 1024px) {
  .imageContainer img {
    max-width: 80%;
    height: auto;
    object-fit: contain;
  }

  .loginPacienteForm {
    padding: 1.875rem;
  }

  .loginPacienteForm button {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    height: 60vh;
    background: #dceaf8;
  }

  .imageContainer img {
    max-width: 70%;
  }

  .loginPacienteForm {
    padding: 11.25rem;
    height: 80vh;
  }

  .loginPacienteForm input,
  .loginPacienteForm button {
    width: 100%;
  }

  .loginPacienteForm button {
    font-size: 1rem;
    padding: 0.625rem;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    height: 40vh;
    background: #dceaf8;
  }

  .imageContainer img {
    max-width: 80%;
  }

  .loginPacienteForm {
    padding: 2.5rem;
    height: 80vh;
  }

  .loginPacienteForm input,
  .loginPacienteForm button {
    width: 100%;
  }

  .loginPacienteForm button {
    font-size: 1rem;
    padding: 0.625rem;
  }
}
